.Board {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(var(--grid-size) * var(--board-size) + 1px);
  height: calc(var(--grid-size) * var(--board-size) + 1px);
  z-index: -1;
  background-image: 
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent calc(var(--grid-size) - 1px),
      #000 calc(var(--grid-size) - 1px),
      #000 var(--grid-size)
    ),
    repeating-linear-gradient(
      -90deg,
      transparent,
      transparent calc(var(--grid-size) - 1px),
      #000 calc(var(--grid-size) - 1px),
      #000 var(--grid-size)
    );
  
  background-size: var(--grid-size) var(--grid-size);

};