.Cell {
  --size: calc(4vw);
  --min-size: 30px;
  --max_size: calc(8vh);

  border: 0.1em solid;
  min-width: var(--min-size);
  max-width: var(--max_size);
  min-height: var(--min-size);
  max-height: var(--max-size);

  width: var(--size);
  height: var(--size);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px;
}